body {
  background-image: url('https://thechurchco-production.s3.amazonaws.com/uploads/sites/758/2019/03/111348-watercolor-backgrounds-1920x1280-high-resolution-1688x1125.jpg');
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: rgb(99, 63, 184);
  font-size: 40px;
  text-align: center;
  font-family: Arial;
}

.result {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  margin-top: 50px;
}

.choices {
  margin: 50px 0;
  margin-top: 250px;
  text-align: center;
}

.choice.ui.inverted.yellow.button {
  margin: 0 20px;
}

.ui.button {
  line-height: 40px;
  font-size: 20px;
  width: 200px;
}