body {
  background-color: rgb(165, 204, 250);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: rgb(35, 93, 148);
  text-align: center;
  font-family: Arial;
}

.result {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  margin-top: 50px;
}

.choices {
  margin: 50px 0;
  text-align: center;
}

.choice {
  margin: 0 50px;

}